    <footer class="gradient_background">
        <div class="contact">
            <p>- BY KARAN BISHT</p> 
            <div class="links">
                <a href="https://instagram.com/karan_b1603" target="_blank">
                  <img src="./images/img-instagram.png" width="45px"></a>
                <a href="https://twitter.com/karan_b1603" target="_blank">
                  <img src="./images/img-twitter.png" width="45px"></a>
                <a href="https://github.com/Karan-Bisht16" target="_blank">
                  <img src="./images/img-github.png" width="45px"></a>
                <a href="https://www.linkedin.com/in/karan-bisht-583918254/" target="_blank">
                  <img src="./images/img-linkedin.png" width="45px"></a>
            </div>
        </div>
    </footer>
    <script src="./js/script.js"></script> 
</body>
</html>